/**
 *  General settings
 */

$bronze : #603813;
$darkbronze : #3E2106;
$lightbronze : #B08762;

$lavender : #624AA0;
$lightlavender : #7361A0;

$darkgreen : #273A06;
$green : #3f5912;
$lightgreen : #90AC60;

$red : #800000;

html, body { height: 100%; }

body {
    font-size: 62.5%;
    font-family: Tahoma, "Droid Sans", Verdana, sans-serif;
    color: $bronze;
}

.error {
    color: $red;
}
.message {
    color: $green;
}




.clear { clear: both; }

a {
    color: $lightlavender;
    text-decoration: none;
    font-family: Tahoma, "Droid Sans", Verdana, sans-serif;
    &:hover {
        color: $lavender;
        text-decoration: underline;
    }
}
p {
    font-size: 1.2rem!important;
    line-height: 2rem!important;
}
    .section ul {
        font-size: 1.2rem;
        line-height: 2rem;
        list-style: disc;
        padding-left: 5%;
    }
    
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


