/**
 *  Navigation
 */
    nav ul {
        width: 75%;
        margin: 0 auto;
        
        li {
            float: left;
            width: 16%;
            &.login {
                float: right;
                a {
                    text-align: right;
                }
            }
            
            a {
                float: left;
                display: inline-block;
                line-height: 36px;
                padding: 0 5px;
                text-align: center;
                font-size: 1.0rem;
                font-family: Tahoma, "Droid Sans", Verdana, sans-serif;
                color: $lightbronze;
                &:hover {
                    color: $darkbronze;
                }
            }
            
        }

    }
